<% include header.ejs %>
<div class="container">
    <h1>Edit Profile</h1>
    <hr>
    <div class="row">
        <!-- left column -->
        <div class="col-md-3">
            <div class="text-center">
                <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
                <h6>Upload a different photo...</h6>


            </div>
        </div>
        <!-- edit form column -->
        <div class="col-md-9 personal-info">
            <h3>Personal info</h3>
            <form class="form-horizontal" role="form" action="/user/profile/update" method="post" enctype="multipart/form-data">
                <input type="file" name="image" class="form-control">
                <div class="form-group">
                    <label class="col-lg-3 control-label">Full name:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" value="<% if(userInfo.fullName) { %> <%= userInfo.fullName %> <% } %>" name="fullName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Company:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" value="<% if(userInfo.company) { %> <%= userInfo.company %> <% } %>" name="company">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Your Job:</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" value="<% if(userInfo.job) { %> <%= userInfo.job %> <% } %>" name="job">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Your phone number:</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" value="<% if(userInfo.phoneNumber) { %> <%= userInfo.phoneNumber %> <% } %>" name="phoneNumber">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Your Full Address:</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" value="<% if(userInfo.fullAddress) { %> <%= userInfo.fullAddress %> <% } %>" name="fullAddress">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <input type="submit" class="btn btn-primary" value="Save Changes">
                        <span></span>
                        <input type="reset" class="btn btn-default" value="Cancel">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<hr>