<div class="row">
    <% allProducts.forEach(function(product){ %>
    <div class="col-md-4">
        <div class="thumbnail">
            <img alt="Bootstrap Thumbnail First" src="<%= product.image%>" />
            <div class="caption">
                <h3>
                  <%= product.name%>
                </h3>
                <p>
                    <%= product.description%>
                </p>
                <p>
                    <a class="btn btn-primary" href="add/<%=product.id%>">Add to cart</a> <a class="btn btn-info" href="#">Details</a>
                </p>
            </div>
        </div>
    </div>
    <%});%>
</div>