<% include header.ejs %>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1 align='center' style="color: blueviolet">SignUp</h1>
        <form class="form-horizontal" action="/signup" method="post">
            <% if(hasErrors) { %>
            <div class="alert alert-danger">
                <% messages.forEach(function (error) { %>
                <p><%= error %></p>
                <% }); %>
            </div>
            <% } %>

            <div class="form-group">
                <label for="email">enter your email</label>
                <input name="email" type="text" placeholder="" class="form-control input-md">
            </div>

            <!-- Password input-->
            <div class="form-group">
                <label for="password">enter password</label>
                <input name="password" type="password" placeholder="" class="form-control input-md">
            </div>

            <!-- Button -->

            <input type="submit" class="btn btn-primary" value="save">

            <b>already have account?</b><a href="/login">click here</a>


        </form>
    </div>
</div>
